#af-form-760964958 .af-body .af-textWrap {
    width: 98%;
    display: block;
    float: none;
}

#af-form-760964958 .af-body .privacyPolicy {
    color: #586784;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

#af-form-760964958 .af-body a {
    color: #26A5E0;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
}

#af-form-760964958 .af-body input.text,
#af-form-760964958 .af-body textarea {
    background-color: #FFFFFF;
    border-color: #A4A8B2;
    border-width: 1px;
    border-style: solid;
    color: #333333;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

#af-form-760964958 .af-body input.text:focus,
#af-form-760964958 .af-body textarea:focus {
    background-color: #FFFAD6;
    border-color: #7887A3;
    border-width: 1px;
    border-style: solid;
}

#af-form-760964958 .af-body label.previewLabel {
    display: block;
    float: none;
    text-align: left;
    width: auto;
    color: #586784;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

#af-form-760964958 .af-body {
    padding-bottom: 30px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: inherit;
    background-image: none;
    color: #586784;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

#af-form-760964958 .af-quirksMode {
    padding-right: 30px;
    padding-left: 30px;
}

#af-form-760964958 .af-standards .af-element {
    padding-right: 30px;
    padding-left: 30px;
}

#af-form-760964958 .buttonContainer input.submit {
    background-image: none;
    background-color: #26A5E0;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

#af-form-760964958 .buttonContainer input.submit {
    width: auto;
}

#af-form-760964958 .buttonContainer {
    text-align: center;
}

#af-form-760964958 button,
#af-form-760964958 input,
#af-form-760964958 submit,
#af-form-760964958 textarea,
#af-form-760964958 select,
#af-form-760964958 label,
#af-form-760964958 optgroup,
#af-form-760964958 option {
    float: none;
    position: static;
    margin: 0;
}

#af-form-760964958 div {
    margin: 0;
}

#af-form-760964958 form,
#af-form-760964958 textarea,
.af-form-wrapper,
.af-form-close-button,
#af-form-760964958 img {
    float: none;
    color: inherit;
    position: static;
    background-color: none;
    border: none;
    margin: 0;
    padding: 0;
}

#af-form-760964958 input,
#af-form-760964958 button,
#af-form-760964958 textarea,
#af-form-760964958 select {
    font-size: 100%;
}

#af-form-760964958 select,
#af-form-760964958 label,
#af-form-760964958 optgroup,
#af-form-760964958 option {
    padding: 0;
}

#af-form-760964958,
#af-form-760964958 .quirksMode {
    width: 100%;
    max-width: 418px;
}

#af-form-760964958.af-quirksMode {
    overflow-x: hidden;
}

#af-form-760964958 {
    background-color: #FFFFFF;
    border-color: #CFCFCF;
    border-width: 1px;
    border-style: none;
}

#af-form-760964958 {
    display: block;
}

#af-form-760964958 {
    overflow: hidden;
}

.af-body .af-textWrap {
    text-align: left;
}

.af-body input.image {
    border: none !important;
}

.af-body input.submit,
.af-body input.image,
.af-form .af-element input.button {
    float: none !important;
}

.af-body input.submit {
    white-space: inherit;
}

.af-body input.text {
    width: 100%;
    float: none;
    padding: 2px !important;
}

.af-body.af-standards input.submit {
    padding: 4px 12px;
}

.af-clear {
    clear: both;
}

.af-element label {
    text-align: left;
    display: block;
    float: left;
}

.af-element {
    padding-bottom: 5px;
    padding-top: 5px;
}

.af-form-wrapper {
    text-indent: 0;
}

.af-form {
    box-sizing: border-box;
    text-align: left;
    margin: auto;
}

.af-quirksMode .af-element {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.lbl-right .af-element label {
    text-align: right;
}

body {}

#af-form-760964958 {
    border-radius: 6px;
    box-shadow: 0 24px 50px 0 rgba(0, 0, 0, 0.12), 0 5px 15px rgba(0, 0, 0, .07);
}

#af-form-760964958 .af-body {}

#af-form-760964958 .af-body .bodyText p {
    line-height: 1.5;
    margin: 0 0 1rem;
}

#af-form-760964958 .af-body .bodyText p:last-child {
    margin: 0;
}

#af-form-760964958 .af-header {
    border-radius: 6px 6px 0 0;
}

#af-form-760964958 .af-footer {
    border-radius: 0 0 6px 6px
}

#af-form-760964958 .af-footer p {}

#af-form-760964958 .af-body .af-element {
    margin-top: 1rem !important;
    padding-top: 0;
    padding-bottom: 0;
}

#af-form-760964958 .af-body .af-textWrap {
    width: 100%;
}

#af-form-760964958 .af-body .af-element:first-child {
    margin-top: 0 !important;
}

#af-form-760964958 .af-body label.previewLabel {
    font-weight: 700 !important;
    margin-bottom: 0.25rem !important;
}

#af-form-760964958 .af-body input.text {
    border-radius: 13px;
    box-sizing: border-box !important;
    margin-top: 0.25rem !important;
    padding: 12px 8px !important;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#af-form-760964958 .af-body input.text:focus {
    outline: none;
}

#af-form-760964958 .af-body select {
    width: 100%;
}

#af-form-760964958 .af-body .af-dateWrap select {
    width: 33%;
}

#af-form-760964958 .choiceList-radio-stacked {
    width: 100% !important;
}

#af-form-760964958 .af-body .af-element-radio,
#af-form-760964958 .af-body .af-element-checkbox {
    margin: 10px 0 !important;
    margin-top: 10px !important;
}

#af-form-760964958 .af-element-radio:last-child,
#af-form-760964958 .af-element-checkbox:last-child {
    margin: 10px 0 0 !important;
}

#af-form-760964958 .af-element-radio input.radio,
#af-form-760964958 .af-element-checkbox input.checkbox {
    display: inline;
    height: 0;
    opacity: 0;
    overflow: hidden;
    width: 0;
}

#af-form-760964958 .af-element-radio label.choice,
#af-form-760964958 .af-element-checkbox label.choice {
    background: transparent;
    border-radius: 4px;
    display: block !important;
    font-weight: 300 !important;
    margin-left: 30px;
    padding: 5px !important;
    position: relative;
    transition-duration: .2s;
}

#af-form-760964958 .af-element-radio input.radio:focus~label,
#af-form-760964958 .af-element-checkbox input.checkbox:focus~label {
    box-shadow: inset 0 0 0 2px rgba(25, 35, 70, .25);
}

#af-form-760964958 .af-element-radio input.radio:checked~label,
#af-form-760964958 .af-element-checkbox input.checkbox:checked~label {
    background: rgba(25, 35, 70, .05);
}

#af-form-760964958 .af-element-radio label.choice:before,
#af-form-760964958 .af-element-checkbox label.choice:before {
    background-color: #ffffff;
    border: 1px solid #a4a8b2;
    border-radius: 50%;
    display: inline-block;
    content: '';
    float: left;
    height: 1em;
    margin-left: -30px;
    margin-right: .5rem;
    position: relative;
    width: 1em;
}

#af-form-760964958 .af-element-checkbox label.choice:before {
    border-radius: 4px !important;
}

#af-form-760964958 .af-element-radio input.radio:checked~label:before,
#af-form-760964958 .af-element-checkbox input.checkbox:checked~label:before {
    animation: rotateIn .2s ease-in;
    background-color: transparent;
    border-color: transparent;
    content: '✔️';
    top: -4px;
}

#af-form-760964958 .af-element-radio input.radio:checked~label:before {
    content: '⚫';
}

#af-form-760964958 .af-selectWrap {
    margin-top: 10px;
}

#af-form-760964958 .af-selectWrap select {
    background: #FFFFFF;
}

#af-form-760964958 .buttonContainer {
    box-sizing: border-box !important;
}

#af-form-760964958 input.submit,
#af-form-760964958 #webFormSubmitButton {
    -webkit-appearance: none;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0 16px 30px 0 rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, .05);
    color: #FFFFFF;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .025rem;
    line-height: 40px;
    padding: 0 25px;
    text-decoration: none;
    transition: all .3s ease;
    white-space: nowrap;
}

#af-form-760964958 input.submit:hover,
#af-form-760964958 #webFormSubmitButton:hover {
    cursor: pointer;
}

#af-form-760964958 input.text {
    background-image: none !important;
    border-radius: 3px !important;
    margin-top: 0.5rem !important;
    padding: 0.6rem 2.5rem !important;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 100% !important;
}

#af-form-760964958 input.text:hover {
    cursor: pointer;
    opacity: 0.9;
}

#af-form-760964958 .af-body .poweredBy,
#af-form-760964958 .af-body .privacyPolicy {
    margin: 15px 0 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.poweredBy a,
.privacyPolicy p {
    font-size: 0.75rem !important;
}

@keyframes rotateIn {
    0% {
        opacity: 0;
        transform: translateY(10px) rotate(-90deg);
    }

    80% {
        transform: translateY(-1px) rotate(10deg);
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(0);
    }
}